@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {

:root {
  --brand-pink: #f472b6;
  --brand-dark: #1f1f1f;
  --brand-light: #f9fafb;
  --brand-accent: #7c3aed;
  --brand-secondary: #e0e7ff;
  --brand-gray: #6b7280;
  --brand-bgLight: #fff5f8;

  --background: var(--brand-bgLight);
}
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
